{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  </head>
  <body>

    <div class="container">
      <form class="form-create_profile" method="post">
        <h1>Profile</h1>{% csrf_token %}
        <div id="alert_message" class="{%if form.errors%}alert alert-danger{%else%}ghost{%endif%}">
              {{form.non_field_errors}} 
              {{form.name.errors}}
              {{form.last_name.errors}}
              {{form.e_mail.errors}} 
              {{form.phone_number.errors}}
              {{form.gender.errors}}
              {{form.birthdate.errors}}
              {{form.city.errors}}
              {{form.street.errors}}
              {{form.neighborhood.errors}}
              {{form.gate_no.errors}}   
        </div>
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
          </p>
        {% endfor %}

        <button class="btn btn-lg btn-primary" type="submit">Create Profile</button>
      </form>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

{% endblock %}
{% block script %}
<script>
window.setTimeout(function() {
  $("#alert_message").fadeTo(500, 0).slideUp(500, function(){
    $(this).remove(); 
  });
}, 3000);
</script>
{% endblock %}